<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
  	<div id="SaleContainer">
  	 <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
          	 <div id="addProductoContainer">
      	    	<input type="text" name="codebarproduct" id="codebarproduct" placeholder="Insert Barcode"/>
      	    	<input type="number" name="quantityproduct" id="quantityproduct" placeholder="Quantity" value="1">
      	     </div>
            </div>
        </div>
	   </div>
     <div class="col-md-6">
       <div class="panel panel-default">
        <div class="panel-body">
          Name:<span class="label label-default" id="productname"></span>
          Price: <span class="label label-default" id="productprice"></span>
          Quantity: <span class="label label-default" id="productquantity"></span>
          Total: <span class="label label-default" id="producttotal"></span>
        </div>
       </div>
     </div>
    </div>
  </div>
  <br>
    <div id="line_items"  class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
                <%= link_to_add_association 'add product', f, :sales, :class => 'btn btn-large btn-primary',  render_options: { wrapper: 'inline' } %>
         </div>
      </div>
    </div>
   <br>   
   <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-12">
          <%= f.label :subtotal %>
          <%= f.text_field :subtotal %>
          <%= f.label :total %>
          <%= f.text_field :total %>
          <%= f.label :pay_with %>
          <%= f.text_field :pay_with %>
          <%= f.label :change %>
          <%= f.text_field :change %>
      </div>
    </div>
  </div>  
 <div class="actions">
    <%= f.submit %>
</div>
<% end %>

