 <div class="sales-fields">
  <div class="panel panel-default">
  	<div class="panel-body">
  	
	    <%= f.label :product_id %>
	    <%= f.collection_select(:product_id, Product.all, :id, :name, {}, { disabled: "true" })%>	  
	    <%= f.label :quantity %>
	    <%= f.number_field :quantity, :disabled=>true %>
	    <%= f.label :totalsale %>
	    <%= f.text_field :totalsale, :disabled=>true %>
	  	<%= link_to_remove_association( "remove Product", f, {wrapper_class: 'sales-fields', :class => 'btn btn-large btn-danger'} ) %>
	</div>
  </div>
</div>
