
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @ticket.sales.each do |sale| %>
      <tr>
        <td><%= sale.product.name %></td>
        <td><%= sale.quantity %></td>
        <td><%= number_to_currency( sale.totalsale ) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<p>
  <strong>Subtotal:</strong>
  <%=number_to_currency(@ticket.subtotal) %>
</p>

<p>
  <strong>Total:</strong>
  <%=number_to_currency( @ticket.total) %>
  <br>
  <strong><%=number_to_currency_in_words( @ticket.total ) %></strong>
</p>

<p>
  <strong>Pay with:</strong>
  <%=number_to_currency( @ticket.pay_with ) %>
</p>

<p>
  <strong>Change:</strong>
  <%= number_to_currency( @ticket.change ) %>
  <br>
  <strong><%= number_to_currency_in_words( @ticket.change ) %></strong>
</p>
<p>
  <%= link_to 'Print ticket (pdf)', ticket_path(@ticket, format: "pdf"), :target=> '_blank'%>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
