
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @ticket.sales.each do |sale| %>
      <tr>
        <td><%= sale.product.name %></td>
        <td><%= sale.quantity %></td>
        <td><%= sale.totalsale %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<p>
  <strong>Subtotal:</strong>
  <%= @ticket.subtotal %>
</p>

<p>
  <strong>Total:</strong>
  <%= @ticket.total %>
</p>

<p>
  <strong>Pay with:</strong>
  <%= @ticket.pay_with %>
</p>

<p>
  <strong>Change:</strong>
  <%= @ticket.change %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
