<div class="page-header">
  <%= link_to 'New Product', new_product_path, class: "btn btn-primary pull-right" %>
  <h1>Listing Products</h1>
</div>

<section class="search-form">
  ​<%= form_for :products, method: :get  do |f| %>
    <div class="input-group input-group-lg">
      <%= label_tag :keywords, nil, class: "sr-only" %>
      <%= text_field_tag :keywords, nil, placeholder: "barcode or name", class: "form-control input-lg" %>
      <span class="input-group input-group-btn">
        <%= submit_tag "Search Product", class: "btn btn-primary" %>  
        <%= link_to 'Clear filter', products_path, class: "btn btn-danger" %>
      </span>
    </div>
  <% end %>
</section> 

<br>
<br>
<section class="search-result">
<div class="row">
  <% @products.each do |product| %>
     <%= render partial: "products", locals: { product: product } %>
<% end %>


<div class="col-xs-12 pagination text-center">
  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div>
</div>
</section>
