

<h1>Listing Products</h1>
</br>

<%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>

</br>
</br>

<div class="row">
  <% @products.each do |product| %>
      <div class="col-xs-6 col-md-3">
          <%= link_to edit_product_path(product), :class=>"thumbnail" do %>
               <%=image_tag product.photo.url :thumb, :size => '260x180' %>
            <%end%>
               <h2 class="h3">
                 <%= product.bar_code %>
               </h2>
             
               <h2 class="h3">
                 <%= product.name %>
               </h2>
               <h2 class="h3">
                <small> Price:</small>
                 <%= number_to_currency( product.price) %>
               </h2>
              <h2 class="h3">
                <small>Stock:</small>
                <%= product.stock %> 
              </h2>
        </div>
<% end %>

<div class="col-xs-12 pagination text-center">
  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div>

</div>
