

<h1>Listing Products</h1>
</br>
<%= link_to 'New Product', new_product_path %>
</br>
</br>
<div class="row">
  <% @products.each do |product| %>
      <div class="col-xs-6 col-md-3">
      <%= link_to edit_product_path(product), :class=>"thumbnail" do %>
           <%=image_tag product.photo.to_s%>
        <%end%>
       <div class="caption">
           <h4><%= product.name %></h4>
           <p>Barcode:</p> 
           <h4><%= product.bar_code %>
           <p>Price:</p> 
           <h4><%= product.price %>
           <p>Stock:</p>
           <h4><%= product.stock %></h4>
       </div>
      </br>
      </br>
      </div>
  <% end %>
</div>


