

<h1>Listing Products</h1>
</br>
<%= link_to 'New Product', new_product_path %>
</br>
</br>
<div class="row">
  <% @products.each do |product| %>
      <div class="col-xs-6 col-md-3">
          <%= link_to edit_product_path(product), :class=>"thumbnail" do %>
               <%=image_tag product.photo.to_s %>
            <%end%>
               <h2 class="h3">
                 <%= product.name %>
               </h2>
               <h2 class="h3">
                <small> Price:</small>
                 <%= product.price %>
               </h2>
              <h2 class="h3">
                <small>Stock:</small>
                <%= product.stock %> 
              </h2>
           
        </div>
  <% end %>
</div>
