<%= form_for(@sales) do |f| %>
  <div class="field">
    <%= f.label :ticket_id %><br>
  </div>
  
  <div class="field">
    <%= f.label :product_id%>
    <%= f.collection_select(:product_id, Product.all, :id, :name, {include_blank: 'Select one'}) %>
  </div>

  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

