<!DOCTYPE html>
<html >
<head>
  <title>PointOfSales</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/navigation' %>

<div class="row">
 	<% if notice.present? %>
		<aside class="alert alert-primary">
			<%= notice %>
		</aside>
		<% end %>
		<% if alert.present? %>
			<aside class="alert alert-warning">
		<%= alert %>
		</aside>
	<% end %>
</div>
<div class="container">
	<%= yield %>
</div>
</body>
</html>
