<!DOCTYPE html>
<html >
<head>
  <title>RoRPos</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/navigation' %>

<div class="row">
 	<% if notice.present? %>
		<aside class="alert alert-warning  data-dismiss="alert" aria-label="Close">
			<%= notice %>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  				<span aria-hidden="true">&times;</span>
			</button>
		</aside>
	<% end %>

	<% if alert.present? %>
		<aside class="alert alert-danger"  data-dismiss="alert" aria-label="Close">
				<%= alert %>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  				<span aria-hidden="true">&times;</span>
			</button>
		</aside>
	<% end %>
</div>
<div class="container">
	<%= yield %>
</div>
</body>
</html>
